{% extends 'AppBundle::base_page.html.twig' %}

{% use 'form_div_layout.html.twig' with form_widget_simple as base_form_widget_simple %}
{% form_theme contactForm _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="error-field">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
  <div class="form_row">
      {{ form_widget(form) }}
      {{ form_errors(form) }}
  </div>
{% endblock form_row %}

{% block form_widget_simple %}
    {% if errors|length %}
      <div class="input-error">{{ block('base_form_widget_simple') }}</div>
    {% else %}
      {{ block('base_form_widget_simple') }}
    {% endif %}
{% endblock %}

{% block content %}
  <section class="contact">
    <div class="container">
      <!--Title-->
      <div class="main-title">
        <h1><span>Formulaire de contact</span></h1>
      </div>
      <div class="row">

        {{ include('AppBundle::partials/contact/_address.html.twig') }}

        <div class="col-12 col-lg-8">
          <div class="panel">
            <div class="panel-heading">
              <div class="row"></div>
            </div>
          </div>
          <div class="col-xs-12">
            <!--Heading-->
            <div class="heading">
              <h2>Besoin de conseils ou d'un devis personnalisé ?</h2>
              {% if contactForm.vars.valid == false %}
                <div class="alert alert-danger">
                  Merci de vérifier les champs du formulaire.
                </div>
              {% else %}
                <p>Remplissez notre formulaire, nous vous répondons dans les plus brefs délais.</p>
              {% endif %}
              <!--/Heading-->
              <!--Contact form-->
              <div class="margin-top70">
                {{ form_start(contactForm, {'attr': {'id': 'forms'}}) }}
                  <div class="row">
                    <div class="col-md-6 required">
                      {{ form_row(contactForm.name) }}
                    </div>
                    <div class="col-md-6 required">
                      {{ form_row(contactForm.email) }}
                    </div>
                    <div class="col-md-6 required">
                      {{ form_row(contactForm.phone) }}
                    </div>
                    <div class="col-md-6 required">
                      {{ form_row(contactForm.city) }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 required">
                      {{ form_row(contactForm.type) }}
                    </div>
                    <div class="col-md-6 required">
                      {{ form_row(contactForm.subject) }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 required">
                      {{ form_row(contactForm.budget) }}
                    </div>
                    <div class="col-md-6 required">
                      {{ form_row(contactForm.attachement) }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-xs-12 required">
                      {{ form_row(contactForm.message) }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-xs-6">
                      {{ form_row(contactForm.recaptcha) }}
                    </div>
                    <div class="col-md-6 col-xs-6 text-center">
                      {{ form_widget(contactForm.submit) }}
                    </div>
                  </div>
                {{ form_end(contactForm) }}
              </div>
            </div>
          </div>
          <!--/Contact form-->
        </div>
      </div>
      <hr />
    </div>
  </section>
{% endblock %}
