<h4 style="text-decoration:underline">Demande provenant du site Construct-Tim.be</h4>

  <p><b>Name:</b>
  {{ data.name }}</p>

  <p><b>Email:</b>
  <a href="mailto:{{ data.email }}" target="_blank">{{ data.email }}</a></p>

  <p><b>Message:</b>
  {{ data.message }}</p>

  <p><b>Phone:</b>
  {{ data.phone }}</p>

  <p><b>City:</b>
  {{ data.city }}</p>

  <p><b>Request type:</b>
  {{ data.type }}</p>

  <p><b>Request subject:</b>
  {{ data.subject }}</p>

  <p><b>Budget:</b>
  {{ data.budget }}</p>

  <br><h4 style="text-decoration:underline">Request information</h4>


  <p><b>Remote ip:</b>
  212.83.179.115</p>

  <p><b>User agent:</b>
  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.94 Safari/537.36</p><div class="yj6qo"></div><div class="adL">
  <br>
</div>
